html {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: hidden;

}

#fade {
    height: 100%;
    width: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

#popupMail {
    position: absolute;
    top: 20%;
    overflow: auto;
}

nav {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 100;
}

#content {
    overflow-y: hidden;
    margin: auto;
    width: 90%;

}
.sliderImageHalle{
    height: 485px;
}

#content.titleWrapper {
    margin: auto;
    text-align: center;
}
[class*="underline"]{
    text-decoration: underline;
}

@media (max-width: 576px){
    .sliderImageHalle{
        height: auto;
    }
    .img{
        height: 140px !important;
    }
    .content{
        width: 100%;
    }
    .card{
        margin-bottom: 15px;
    }
}