html {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: hidden;

}

#fade {
    height: 100%;
    width: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

#popupMail {
    position: absolute;
    top: 20%;
    overflow: auto;
}

nav {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 100;
}

#content {
    overflow-y: hidden;
    margin: auto;
    width: 90%;

}
.sliderImageHalle{
    height: 485px;
}

#content.titleWrapper {
    margin: auto;
    text-align: center;
}
.classcontainer{
    height: 470px;
}
.card{
    height: 100%;
}
.cardcontainer{
    margin-bottom: 10px;
}
.card-img-top {
    height: 192px;
}
[class*="underline"]{
    text-decoration: underline;
}
#carouselSponsors .carousel-inner{
    height: 200px;
    max-height: 200%;
}
#carouselSponsors .carousel-inner .carousel-item{
    height: 100%;
    width: auto;
}
#carouselSponsors .carousel-inner .carousel-item > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#carouselSponsors .carousel-inner .carousel-item > div > a{
    width: 100%;
}
#carouselSponsors .carousel-inner .carousel-item .useHeight{
    height: 100%;

}
#carouselSponsors .carousel-inner .carousel-item .useHeight a{
    height: 100%;
    width: auto !important;
}
#carouselSponsors .carousel-inner .carousel-item .useHeight .img{
    height: 100% !important;
    width: auto !important;
}
.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@media (max-width: 576px){
    .sliderImageHalle{
        height: auto;
    }
    .content{
        width: 100%;
    }
    .card{
        margin-bottom: 15px;
    }
    #carouselSponsors .carousel-inner .carousel-item .useHeight .img{
        width: 100% !important;
    }
    #carouselSponsors .carousel-inner .carousel-item .useHeight a{
        height: auto;
    }
}